<!doctype html>
<html ng-app="boardApp">
    <head>
        <link href="css/main.css" rel="stylesheet" />
        <title>My board App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
        
        <!-- Controllers -->
    </head>

    <body>

        <section ng-controller="tableCtrl as tableCtrl"
                ng-init="elementDND = false">
            <div ng-controller="nodeCtrl as nodeCtrl"> 
                <div>
                    <span>enter row:</span>
                    <input type="number" ng-model="nodeCtrl.rowPositionNewElem">
                    <span>enter col:</span>
                    <input type="number" ng-model="nodeCtrl.colPositionNewElem">
                    <select ng-model="nodeCtrl.typeNewElem">
                        <option>horizontal</option>
                        <option>vertical</option>
                    </select>
                    <input type="button" value="create" ng-click="nodeCtrl.createNewElem()">
                </div>
                <!-- <p>{{tableCtrl.today | date}}</p> -->
                <!-- <table ng-click="tableCtrl.checkTD()"> -->
                <div ng-controller = "buildPanelCtrl as buildPanelCtrl" 
                    class="buildPanel" 
                    ng-click="buildPanelCtrl.check()">
                    <div class="panelWrap" 
                        draggable="true"
                        
                        ng-attr-data-type="vertical"
                        ng-mousedown="buildPanelCtrl.handleDragStart($event, elementDND)"
                        ng-mousemove="buildPanelCtrl.handleDragStart($event)"
                        ng-mouseup="buildPanelCtrl.handleDragStart($event, elementDND)"
                        >
                        <div class="horizonLineBlock">
                            <div class="sleepers"></div>
                            <div class="rails"></div>
                        </div>
                    </div>
                    <div class="panelWrap" draggable="true" data-type="vertical">
                        <div class="verticalLineBlock" >
                            <div class="sleepers"></div>
                            <div class="rails"></div>
                        </div>
                    </div>
                </div>

                <table class="board" ng-click="tableCtrl.checkTD($event)"
                ng-mousemove="tableCtrl.handleDragEnd($event, elementDND)"
                >
                <!-- ng-mouseup="tableCtrl.handleDragStart($event)" -->
                    <th >
                        <td class="thStyle"> 1 </td>
                        <td class="thStyle"> 2 </td>
                        <td class="thStyle"> 3 </td>
                        <td class="thStyle"> 4 </td>
                        <td class="thStyle"> 5 </td>
                        <td class="thStyle"> 6 </td>
                        <td class="thStyle"> 7 </td>
                        <td class="thStyle"> 8 </td>
                        <td class="thStyle"> 9 </td>
                        <td class="thStyle"> 10 </td>
                    </th>

                    <tr>
                        <td class="trowStyle"> 1 </td>
                        <td ng-attr-data-row="1" ng-attr-data-col="1"></td>
                        <td ng-attr-data-row="1" ng-attr-data-col="2"></td>
                        <td ng-attr-data-row="1" ng-attr-data-col="3"></td>
                        <td ng-attr-data-row="1" ng-attr-data-col="4"></td>
                        <td ng-attr-data-row="1" ng-attr-data-col="5"></td>
                        <td ng-attr-data-row="1" ng-attr-data-col="6"></td>
                        <td ng-attr-data-row="1" ng-attr-data-col="7"></td>
                        <td ng-attr-data-row="1" ng-attr-data-col="8"></td>
                        <td ng-attr-data-row="1" ng-attr-data-col="9"></td>
                        <td ng-attr-data-row="1" ng-attr-data-col="10"></td>
                    </tr>

                    <tr>
                        <td class="trowStyle"> 2 </td>
                        <td ng-attr-data-row="2" ng-attr-data-col="1"></td>
                        <td ng-attr-data-row="2" ng-attr-data-col="2"></td>
                        <td ng-attr-data-row="2" ng-attr-data-col="3"></td>
                        <td ng-attr-data-row="2" ng-attr-data-col="4"></td>
                        <td ng-attr-data-row="2" ng-attr-data-col="5"></td>
                        <td ng-attr-data-row="2" ng-attr-data-col="6"></td>
                        <td ng-attr-data-row="2" ng-attr-data-col="7"></td>
                        <td ng-attr-data-row="2" ng-attr-data-col="8"></td>
                        <td ng-attr-data-row="2" ng-attr-data-col="9"></td>
                        <td ng-attr-data-row="2" ng-attr-data-col="10"></td>
                    </tr>

                    <tr>
                        <td class="trowStyle"> 3 </td>
                        <td ng-attr-data-row="3" ng-attr-data-col="1" ></td>
                        <td ng-attr-data-row="3" ng-attr-data-col="2"></td>
                        <td ng-attr-data-row="3" ng-attr-data-col="3"></td>
                        <td ng-attr-data-row="3" ng-attr-data-col="4"></td>
                        <td ng-attr-data-row="3" ng-attr-data-col="5"></td>
                        <td ng-attr-data-row="3" ng-attr-data-col="6"></td>
                        <td ng-attr-data-row="3" ng-attr-data-col="7"></td>
                        <td ng-attr-data-row="3" ng-attr-data-col="8"></td>
                        <td ng-attr-data-row="3" ng-attr-data-col="9"></td>
                        <td ng-attr-data-row="3" ng-attr-data-col="10"></td>
                    </tr>

                    <tr>
                        <td class="trowStyle"> 4 </td>
                        <td ng-attr-data-row="4" ng-attr-data-col="1"></td>
                        <td ng-attr-data-row="4" ng-attr-data-col="2"></td>
                        <td ng-attr-data-row="4" ng-attr-data-col="3"></td>
                        <td ng-attr-data-row="4" ng-attr-data-col="4"></td>
                        <td ng-attr-data-row="4" ng-attr-data-col="5"></td>
                        <td ng-attr-data-row="4" ng-attr-data-col="6"></td>
                        <td ng-attr-data-row="4" ng-attr-data-col="7"></td>
                        <td ng-attr-data-row="4" ng-attr-data-col="8"></td>
                        <td ng-attr-data-row="4" ng-attr-data-col="9"></td>
                        <td ng-attr-data-row="4" ng-attr-data-col="10"></td>
                    </tr>

                    <tr>
                        <td class="trowStyle"> 5 </td>
                        <td ng-attr-data-row="5" ng-attr-data-col="1"></td>
                        <td ng-attr-data-row="5" ng-attr-data-col="2"></td>
                        <td ng-attr-data-row="5" ng-attr-data-col="3"></td>
                        <td ng-attr-data-row="5" ng-attr-data-col="4"></td>
                        <td ng-attr-data-row="5" ng-attr-data-col="5"></td>
                        <td ng-attr-data-row="5" ng-attr-data-col="6"></td>
                        <td ng-attr-data-row="5" ng-attr-data-col="7"></td>
                        <td ng-attr-data-row="5" ng-attr-data-col="8"></td>
                        <td ng-attr-data-row="5" ng-attr-data-col="9"></td>
                        <td ng-attr-data-row="5" ng-attr-data-col="10"></td>
                    </tr>



                </table>

                

           </div>
            
        </section>

        <script src="js/app.js"></script>

        <script src="js/controllers/tableCtrl.js"></script>  
        <script src="js/controllers/buildPanelCtrl.js"></script>  
        <!-- <script src="js/controllers/listCtrl.js"></script>  -->
        <script src="js/controllers/nodeCtrl.js"></script>   

        <!-- <script src="js/factory/listFactory.js"></script>    -->
        <script src="js/factory/nodeFactory.js"></script> 
        <!-- <script src="js/factory/updateDBFactory.js"></script>  -->
        

    </body>
</html>
